{{ define "main" }}
<main>
  <div class="container-fluid mt-5">
    <div class="row mt-10">
      <div class="col-sm-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid our-clients">
  <!-- TODO: This range only works when we got pair clients due the 2 clients per row. -->
  {{ range $index, $page:= (.Data.Pages).ByWeight }}
    {{ if (modBool $index 2) }}
    <div class="row">
    {{ end  }}
      <div class="col-sm-6 mt-5">
        <h2>{{ .Title }}</h2>
        <div class="mt-5">
          {{ with $page.Resources.ByType "image" }}
          <div class="Image">
            {{ range . }}
              <img src="{{ .RelPermalink }}">
            {{ end }}
          </div>
          {{ end }}
        </div>
        <p class="mt-5">
        {{ $page.Content }}
        </p>
      </div>
    {{ if not (modBool $index 2) }}
    </div>
    {{ end }}
  {{ end }}
  </div>
</main>
{{ end }}
